<template>
  <section class="page-section">
    <b-container>
      <HeaderPage title="Adicionar Patrocinador"/>

      <!--FORM-->
      <b-row>
        <b-col cols="2"></b-col>
        <b-col cols="8">
          <form @submit.prevent="add">
            <div class="form-group">
              <input
                v-model="name"
                type="text"
                class="form-control"
                id="txtName"
                placeholder="Nome"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="country"
                type="text"
                class="form-control"
                id="txtCountry"
                placeholder="País"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="city"
                type="text"
                class="form-control"
                id="txtCity"
                placeholder="Cidade"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="phone"
                type="text"
                class="form-control"
                id="txtPhone"
                placeholder="Telefone"
                required
              />
            </div>
            <div class="form-group">
              <select id="sltGroup" class="form-control form-control-lg" v-model="group" required>
                <option value>Grupo</option>
                <option value="anfibio">Anfíbio</option>
                <option value="ave">Ave</option>
                <option value="mamifero">Mamífero</option>
                <option value="peixe">Peixe</option>
                <option value="reptil">Réptil</option>
              </select>
            </div>
            <button type="submit" class="btn btn-outline-success mr-2"><i class="fas fa-save"></i> GRAVAR PATROCINADOR</button>
            <router-link
              :to="{name: 'listSponsors'}"
              tag="button"
              class="btn btn-outline-danger"
            ><i class="fas fa-window-close"></i> CANCELAR</router-link>
          </form>
        </b-col>
        <b-col cols="2"></b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import router from "@/router";
import HeaderPage from "@/components/HeaderPage.vue"
import { mapGetters } from "vuex";
import { ADD_SPONSOR } from "@/store/sponsors/sponsor.constants";

export default {
  name: "AddSponsor",
   components: {
    HeaderPage
  },
  data: () => {
    return {
      name: "",
      country: "",
      city: "",
      phone: "",
      group: "",
      createdDate : ""
    };
  },
  computed: {
    ...mapGetters("sponsor", ["getMessage"])
  },
  methods: {
    add() {
      this.$store.dispatch(`sponsor/${ADD_SPONSOR}`, this.$data).then(
        () => {
          this.$alert(this.getMessage, "Patrocinador adicionado!", "success");
          router.push({name: 'listSponsors'});
        },
        err => {
          this.$alert(`${err.message}`, "Erro", "error");
        }
      );
    }
  }
};
</script>