<template>
  <section class="page-section">
    <b-container>
      <HeaderPage title="Editar Patrocinador"/>

      <!--FORM-->
      <b-row>        
        <b-col cols="2"></b-col>
        <b-col cols="8">
          <form @submit.prevent="update">
            <div class="form-group">
              <input
                v-model="sponsor.name"
                type="text"
                class="form-control"
                id="txtName"
                placeholder="Nome"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="sponsor.country"
                type="text"
                class="form-control"
                id="txtCountry"
                placeholder="País"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="sponsor.city"
                type="text"
                class="form-control"
                id="txtCity"
                placeholder="Cidade"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="sponsor.phone"
                type="text"
                class="form-control"
                id="txtPhone"
                placeholder="Telefone"
                required
              />
            </div>
            <div class="form-group">
              <select id="sltGroup" class="form-control form-control-lg" v-model="sponsor.group" required>
                <option value>Grupo</option>
                <option value="anfibio">Anfíbio</option>
                <option value="ave">Ave</option>
                <option value="mamifero">Mamífero</option>
                <option value="peixe">Peixe</option>
                <option value="reptil">Réptil</option>
              </select>
            </div>
            
            <button type="submit" class="btn btn-outline-success mr-2"><i class="fas fa-save"></i> ATUALIZAR</button>
            <router-link
              :to="{name: 'listSponsors'}"
              tag="button"
              class="btn btn-outline-danger"
            ><i class="fas fa-window-close"></i> CANCELAR</router-link>
          </form>
        </b-col>
        <b-col cols="2"></b-col>
      </b-row>
     </b-container>
  </section>
</template>

<script>
import router from "@/router";
import HeaderPage from "@/components/HeaderPage.vue"
import { mapGetters } from "vuex";
import { EDIT_SPONSOR } from "@/store/sponsors/sponsor.constants";

export default {
  name: "EditSponsor",
  components: {
    HeaderPage
  },
  data: () => {
    return {
      sponsor: {}
    };
  },
  computed: {
    ...mapGetters("sponsor", ["getSponsorById","getMessage"])
  },
  methods: {
    update() {
      this.$store
        .dispatch(`sponsor/${EDIT_SPONSOR}`, this.$data.sponsor)
        .then(
          () => {
            this.$alert(this.getMessage, "Patrocinador atualizado!",  "success");
            router.push({name: 'listSponsors'});
          },
          err => {
            this.$alert(`${err.message}`, "Erro", "error");
          }
        );
    }
  },
  created() {
    this.sponsor = this.getSponsorById(this.$route.params.sponsorId);
  }
};
</script>
