<template>
  <section class="page-section">
    <b-container>
      <HeaderPage title="Editar Especialista"/>

      <!--FORM-->
      <b-row>        
        <b-col cols="2"></b-col>
        <b-col cols="8">
          <form @submit.prevent="update">
            <div class="form-group">
              <input
                v-model="expert.name"
                type="text"
                class="form-control"
                id="txtName"
                placeholder="Nome"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="expert.country"
                type="text"
                class="form-control"
                id="txtCountry"
                placeholder="País"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="expert.city"
                type="text"
                class="form-control"
                id="txtCity"
                placeholder="Cidade"
                required
              />
            </div>
            <div class="form-group">
              <input
                v-model="expert.phone"
                type="text"
                class="form-control"
                id="txtPhone"
                placeholder="Telefone"
                required
              />
            </div>
            <div class="form-group">
              <select id="sltGroup" class="form-control form-control-lg" v-model="expert.group" required>
                <option value>Grupo</option>
                <option value="anfibio">Anfíbio</option>
                <option value="ave">Ave</option>
                <option value="mamifero">Mamífero</option>
                <option value="peixe">Peixe</option>
                <option value="reptil">Réptil</option>
              </select>
            </div>
            
            <button type="submit" class="btn btn-outline-success mr-2"><i class="fas fa-save"></i> ATUALIZAR</button>
            <router-link
              :to="{name: 'listExperts'}"
              tag="button"
              class="btn btn-outline-danger"
            ><i class="fas fa-window-close"></i> CANCELAR</router-link>
          </form>
        </b-col>
        <b-col cols="2"></b-col>
      </b-row>
     </b-container>
  </section>
</template>

<script>
import router from "@/router";
import HeaderPage from "@/components/HeaderPage.vue"
import { mapGetters } from "vuex";
import { EDIT_EXPERT } from "@/store/experts/expert.constants";

export default {
  name: "EditExpert",
  components: {
    HeaderPage
  },
  data: () => {
    return {
      expert: {}
    };
  },
  computed: {
    ...mapGetters("expert", ["getExpertById","getMessage"])
  },
  methods: {
    update() {
      this.$store
        .dispatch(`expert/${EDIT_EXPERT}`, this.$data.expert)
        .then(
          () => {
            this.$alert(this.getMessage, "Especialista atualizado!",  "success");
            router.push({name: 'listExperts'});
          },
          err => {
            this.$alert(`${err.message}`, "Erro", "error");
          }
        );
    }
  },
  created() {
    this.expert = this.getExpertById(this.$route.params.expertId);
  }
};
</script>
